
body {
    background-color: rgb(255, 243, 245);
    background-image: url('mulher.png') ;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: right;
    background-position-y: 10% ;
    position: relative;
    isolation: isolate;

}

h1 {
    color: rgb(250, 211, 231);

}

h2 {
    color: rgb(144, 233, 249);

}
h3 {
    
}

b {
color: pink;
}

i {
    color: rgb(206, 255, 247);
}

strong {
    color: pink;
    
}
blockquote {
    background-color: black;
    padding: 20px;
    width: 50%;
}
.image {
    text-align: center;
}
.autor {
    text-align: center;

}
nav {
    text-align: center;
    padding: 30px;
}
a {
    background-color: pink;
    border-radius: 50%;
    padding: 30px;
    

}





